/* Reset */
*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  position: relative;
  font-family: 'Roboto', sans-serif;
  color: #ffffff;
  text-rendering: optimizeLegibility;
}

a {
  color: #ffffff;
  font-size: 1.4rem;
  text-decoration: none;
}

ul {
  list-style: none;
}

p {
  font-weight: 400;
  line-height: 1.8;
}

img {
  display: inline-block;
  max-width: 100%;
}

section {
  padding: 80px 0;
}

h1,
h2,
h3,
h4 {
  font-weight: 300;
  line-height: 1;
}

/* Button */
.btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-weight: 400;
  border: none;
  border-radius: 4px;
  transition: cubic-bezier(0.075, 0.82, 0.165, 1);
  cursor: pointer;
}

.btn--md {
  font-size: 1.8rem;
  height: 45px;
  width: 175px;
}

.btn--sm {
  font-size: 1.4rem;
  height: 30px;
  width: 120px;
}

.btn--primary {
  background-color: #c64015;
  color: #ffffff;
}

.btn--primary:hover {
  background-color: #d93e0a;
}

/* Utilities */
.container {
  margin: 0 auto;
  width: 90%;
  height: 100%;
}

.sub_title--lg {
  font-size: 4rem;
}

.sub_title--md {
  font-size: 3.6rem;
  text-align: center;
}

/* Navigation */
.nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: #2a0304;
  width: 100%;
  height: 80px;
}

.nav .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav_menuLists {
  display: flex;
  align-items: center;
  gap: 30px;
}

@media (min-width: 501px) {
  .nav_menuLists {
    gap: 50px;
  }
}

@media (min-width: 601px) {
  .nav_menuLists {
    gap: 70px;
  }
}

.nav_link {
  position: relative;
}

.nav_link::after {
  content: ' ';
  display: inline-block;
  position: absolute;
  bottom: -8px;
  left: 0;
  width: 0;
  height: 2px;
  background-color: transparent;
}

.nav_link:hover::after {
  background-color: #c64015;
  width: 90%;
  transition: all 0.3s linear;
}

/* Herobox */
.herobox {
  background: linear-gradient(#3b0101a7, #3b0101a7),
    url('./images/bg-image.webp');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 160px;
  height: 100%;
}

@media (min-width: 992px) {
  .herobox {
    min-height: 100vh;
  }
}

.herobox .container {
  display: inherit;
  justify-content: space-between;
  align-items: center;
}

.herobox_content .title {
  font-size: 5rem;
  font-weight: 300;
  line-height: 1;
  padding-bottom: 32px;
}

@media (min-width: 768px) {
  .herobox_content .title {
    font-size: 6.4rem;
  }
}

.herobox_content .description {
  font-size: 1.8rem;
  width: 100%;
  max-width: 55ch;
  margin-bottom: 30px;
}

.herobox_image {
  display: none;
}

@media (min-width: 992px) {
  .herobox_image {
    display: inline-block;
    text-align: right;
  }
}

/* Discover */
.discover {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #2a0304;
  height: 100%;
  min-height: 400px;
}

.discover .container {
  display: inherit;
  justify-content: space-between;
  align-items: center;
  flex-direction: column-reverse;
  row-gap: 60px;
}

@media (min-width: 992px) {
  .discover .container {
    flex-direction: row;
    align-items: center;
    column-gap: 40px;
  }
}

.discover_content .description {
  font-size: 1.8rem;
  padding: 44px 0;
  width: 100%;
  max-width: 70ch;
}

@media (min-width: 992px) {
  .discover_image {
    width: 40%;
    text-align: right;
  }
}

/* Menu */
.menu {
  background: linear-gradient(#151414bf, #151414bf),
    url('./images/menu-bg.webp');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.menu_contents {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  justify-items: center;
  gap: 40px;
  margin-top: 90px;
}

.menu_card {
  width: 100%;
  max-width: 284px;
}

.menu_image {
  width: 100%;
  height: 284px;
  border: 6px solid #ffffff;
  border-radius: 4px;
}

.menu_image img {
  height: 100%;
  object-fit: cover;
}

.menu_title {
  font-size: 2.5rem;
  padding: 10px 0 4px 0;
}

.menu_price {
  font-size: 3rem;
  padding-bottom: 10px;
}

/* Cart Modal */
.modal {
  display: none;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: rgba(42, 3, 4, 0.93);
}

.modal_head svg {
  cursor: pointer;
}

.modal_content {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: #ffffff;
  color: #000000;
  padding: 30px;
  max-width: 400px;
  width: 100%;
}

.modal_content .title {
  color: #2c0404;
  font-size: 3rem;
  font-weight: 300;
  text-align: center;
  margin-top: 25px;
}
